/*Main page styling*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

body {
    margin: 0 auto;
}

form {
    margin: 0;
}

fieldset {
    /*border: 1px solid #000000;*/
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

/*picture styling*/
.shirt-front {
}

/*menu options for shirt*/
.shirt-options {
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;
}

.menu {
    display: inline;
    border: 1px solid green;
}

.icon {
    border: 1px solid #FFCCCC;
}
/*Styling for shirt name and shirt price*/
.shirt-info {
  position: relative;
  border: 1px solid black;
}

.shirt-info > p {
    position: relative;
}

.shirt-name {
  display: inline;
  border: 1px solid blue;
  left: 0;
  float: left;
}

.shirt-price {
  display: inline;
  border: 1px solid purple;
  right: 0;
  float: right;
  font-weight: bold;
}
