/*Main page styling*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

body {
    margin-top: 20px;
}

form {
    margin: 0;
    bo
}

fieldset {
    border: 1px solid #000000;
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
}

/*picture styling*/
.shirt-front {
    z-index: 2;
}

/*menu options for shirt*/
.shirt-options {
    border: 1px solid red;
}

.menu {
    display: inline;
    border: 1px solid green;
}
.shirt-name {
  display: inline;
  border: 1px solid blue;
}

.shirt-price {
  display: inline;
  border: 1px solid purple;
}
