/*Main page styling*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

main {
    margin: 0;
}

form {
    max-width: 100%;
}

article {
    border: 2px solid #000000;
    box-sizing: border-box;
    margin: 25px;
    position: relative;
    width: 300px;
}

@media screen and (min-width: 700px) {
  article {
    float: left;
  }
}

/*picture styling*/
.shirt-front, .shirt-back {
    width: 100%;

}

.shirt-back {
    display: none;
}

.fa-undo {
  position: absolute;
  /*float: right;*/
  top: 0;
  right: 0;
  margin: 0;
  z-index: 2;
  float: right;
  border: 2px solid #5CA4D7;
}

/*menu options for shirt*/

nav {
  position: relative;
  border: none;
  border-bottom
  box-sizing: border-box;
}

ul {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-left: 0;
    margin: 0 auto;
}

.fa {
    max-width: 20%;
    color: #5CA4D7;
    padding: .3em;
    border: 2px solid #5CA4D7;
}

.fa:hover {
    background-color: #5CA4D7;
    color: #FFFFFF;
}

.dropdown {
  display: none;
}

ul li ul.dropdown {
    min-width: 100%;
    list-style: none;
    position: absolute;
    left: 0;
    bottom: 100%;
    z-index:999;
    display:none;
    padding:0;
    color: #5CA4D7;
}

ul li:hover ul.dropdown {
  display: block;
  min-width: 100%;
}

ul li ul.dropdown li {
  display :inline;
  border: 2px solid #5CA4D7;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

ul li ul.dropdown li:hover {
  background-color: #5CA4D7;
  color: #FFFFFF;
  max-width: 100%;
}

/*Styling for shirt name and shirt price*/
.shirt-info {
  position: relative;
  bottom: 0;

}

.shirt-info > p {
    position: relative;
}

.shirt-name {
  display: inline;
  left: 0;
  float: left;
}

.shirt-price {
  display: inline;
  right: 0;
  float: right;
  font-weight: bold;
}
